<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.reactnativegooglecloudspeechtotext">

  <uses-permission android:name="android.permission.RECORD_AUDIO"/>

  <application
    android:supportsRtl="true"
    tools:ignore="GoogleAppIndexingWarning">
    <service android:name=".SpeechService"/>
  </application>

</manifest>
